

@media (max-width: 1500px) {
  section h1 {
    font-size: 120%;
  }

  .maincontext {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 3rem;
  }

  @media (max-width: 1450px) {
    #orderform {
      font-size: 80%;
    }

    .tosleftside {
      width: 100% !important;
    }

    #idbutton {
      width: 100%;
    }

    #tossection {
      flex-direction: column;
      align-items: center;
      overflow: auto;
    }

    .formleftside {
      text-align: center;
    }

    #orderform h1 {
      font-size: 150%;
      margin-left: 4rem;
    }

    #orderform .buttoncontainer,
    .herinfo {
      width: 100%;
      
    }

    #orderform .buttoncontainer button,
    #tossection .buttoncontainer button {
      width: 7rem;
      font-size: 90%;
    }
  }

  section {
    height: auto;
  }

  .buttoncontainer {
    margin-top: 3rem;
    row-gap: 2rem;
  }
}

@media (max-width: 1250px) {
  .buttoncontainer button {
    width: 100% !important;
  }

}


@media (max-width: 1050px) {
  #orderform {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    overflow-y: auto;
  }

  #orderform .herinfo {
    margin-top: 3rem;
  }

  .formleftside {
    display: flex;
    box-sizing: border-box;
    align-items: center;
  }

  .herinfo,
  .buttoncontainer,
  #orderform h1 {
    margin-left: 0;
  }

  .formrightside {
    height: auto;
  }

  #orderform button,
  #tossection butto {
    width: 100% !important;
  }

  .tosleftside {
    width: 100% !important;
  }

} 



@media (max-width: 900px) {
  section {
    font-size: 90%;
  }

  .rightside button {
    width: 15rem;
  }

  .buttoncontainer {
    display: grid;
    place-items: center;
  }

  html {
    text-align: center;
  }
}


@media (max-width: 800px) {
  .buttoncontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #idbutton {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .buttoncontainer button {
    width: 100% !important;
  }
}

@media (max-width: 650px) {
  .rightside h2 {
    font-size: 130%;
  }

  .rightside {
    width: 100%;
  }

  .imghere {
    width: 50%;
  }

  .imghere img {
    width: auto;
  }

  .linkscontainer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 1rem;
    margin-bottom: 2rem;
  }

  #tobig a{
    font-size: 80%;
  }
}