

@media (max-width: 1500px) {
  section h1 {
    font-size: 120%;
  }

  .maincontext {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 3rem;
  }

  @media (max-width: 1450px) {
    #orderform {
      font-size: 80%;
    }

    .tosleftside {
      width: 100% !important;
    }

    #idbutton {
      width: 100%;
    }

    #tossection {
      flex-direction: column;
      align-items: center;
      overflow: auto;
    }

    .formleftside {
      text-align: center;
      width: 50%;
    }

    .formrightside {
      width: 50% !important;
    }

    #orderform h1 {
      font-size: 150%;
      margin-left: 4rem;
    }

    #orderform .buttoncontainer,
    .herinfo {
      width: 100%;
    }

    #ORDERFORM .buttoncontainer button {
      width: 100%;
    }

    #tossection .buttoncontainer button {
      width: 20rem !important;
      font-size: 90%;
    }
  }

  section {
    height: auto;
  }

  .buttoncontainer {
    margin-top: 3rem;
    row-gap: 2rem;
  }

  .buttoncontainer button {
    width: 100% !important;
  }
}

@media (max-width: 1280px) {
  .buttoncontainer button {
    font-size: 100%;
  }

  .tosrightside {
    height: auto !important;
  }

}


@media (max-width: 1050px) {
  #orderform {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    overflow-y: auto;
  }

  #orderform .herinfo {
    margin-top: 3rem;
  }

  .formleftside {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
  }

  .herinfo,
  .buttoncontainer,
  #orderform h1 {
    margin-left: 0;
  }

  .formrightside {
    height: auto;
    width: 100% !important;
  }

  #orderform button,
  #tossection butto {
    width: 100% !important;
  }

  .tosleftside {
    width: 100% !important;
  }

  .tosrightside {
    height: auto !important;
    margin-top: 5rem;
  }

  #tossection {
    display: flex;
    flex-direction: column !important;
    row-gap: 5rem !important;
  }

} 



@media (max-width: 900px) {
  section {
    font-size: 90%;
  }

  .rightside button {
    width: 15rem;
  }

  .buttoncontainer {
    display: grid;
    place-items: center;
  }

  
}


@media (max-width: 800px) {
  .buttoncontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }


  .tosrightside {
    height: auto !important;
    margin-top: 7rem;
  }

  #tossection {
    height: auto;    
  }

  #idbutton {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .buttoncontainer button {
    width: 100% !important;
  }
}

@media (max-width: 689px) {
  #tossection {
    display: flex;
    flex-direction: column !important;
    row-gap: .1rem !important;
  }
}

@media (max-width: 650px) {
  .rightside h2 {
    font-size: 130%;
  }
  
  #tossection {
    display: flex;
    row-gap: 10rem !important;
  }

  .rightside {
    width: 100%;
  }

  .imghere {
    width: 50%;
  }

  .imghere img {
    width: auto;
  }

  .linkscontainer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 1rem;
    margin-bottom: 2rem;
  }

  #tobig a{
    font-size: 80%;
  }
}

@media (max-width: 465px) {
  #tossection {
    display: flex;
    row-gap: 17rem !important;
  }
}

@media (max-width: 413px) {
  #tossection {
    display: flex;
    flex-direction: column !important;
    row-gap: 22rem !important;
  }
}
@media (max-width: 395px) {
  #tossection {
    display: flex;
    flex-direction: column !important;
    row-gap: 27rem !important;
  }
}
@media (max-width: 392px) {
  #tossection {
    display: flex;
    flex-direction: column !important;
    row-gap: 20rem !important;
  }
}
@media (max-width: 376px) {
  #tossection {
    display: flex;
    flex-direction: column !important;
    row-gap: 27rem !important;
  }
}
@media (max-width: 374px) {
  #tossection {
    display: flex;
    flex-direction: column !important;
    row-gap: 32rem !important;
  }
}
